body{
    background-color: hsl(0,0%,15%)
}
.to-do-list{
    font-Family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
}
button{
    font-size:1.7rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: hsl(200, 80%, 45%);
}
.add-button:hover{
    background-color: hsl(200, 80%, 35%);
}
.delete-button{
    background-color: hsl(10, 80%, 45%);
}
.delete-button:hover{
    background-color:  hsl(10, 80%, 35%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    color: hsla(0,0%,0%, 0.5);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl();
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.Ctext{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}